<div class="form-group mb-2 text-center">
  <!-- <div class="p-3 m-2" style="border: 2px gray dashed; background-color: ghostwhite; border-radius: 1rem;" onclick="getimages()">
    <i class="fa-solid fa-image text-secondary" style="font-size: 3rem;"></i>

    <p>Select Images</p>

  </div> -->

    <input type="file" class="form-control-file" style="" id="images" name="images" multiple required>

  

  <div class="m-1" id="image-preview"></div>
</div>
<div class="form-group mb-2">
  <label for="query">Query:</label>
  <textarea class="form-control mb-1" id="textInput" name="content" rows="5"></textarea>
  <!-- <a class=" btn btn-success" id="speechButton"><i class="fas fa-microphone m-1 " style="font-size: 1.7rem;"></i></a> -->

</div>
<div class="align-items-center d-flex "> 
  <button class="btn btn-primary me-2"  onclick="create(this)" type="submit">Create</button>
  <div class="spinner-border text-primary visually-hidden" role="status" id="spinner" style="width: 25px; height: 25px;">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>


<progress id='progress' class="progress-bar progress-bar-striped visually-hidden" value='0'  max='100'></progress>

  <script>
    $(document).ready(function() {
      // Image preview
      $("#images").change(function() {
        readURL(this);
      });

      function readURL(input) {
        if (input.files && input.files.length > 0) {
          $("#image-preview").empty();
          for (var i = 0; i < input.files.length; i++) {
            var reader = new FileReader();
            reader.onload = function(e) {
              $("<img>").attr("src", e.target.result).addClass("preview-image m-1").appendTo("#image-preview");
            }
            reader.readAsDataURL(input.files[i]);
          }
        }
      }
    });
  </script>



  <script>
    function getimages() {
      console.log('click')
      $("#images").click()
    }
  </script>


  <script>
function create(btn) {
  const imageInput = document.getElementById('images');

  // Check if at least one file is selected in the input
  if (imageInput.files.length > 0) {
    btn.classList.add('disabled');
    document.getElementById('spinner').classList.remove('visually-hidden');
  }
}
    </script>

  <style>
    .preview-image {
      max-width: 200px;
      margin-right: 10px;
    }
  </style>


  <script>
    htmx.on('#form', 'htmx:xhr:progress', function(evt) {
      htmx.find('#progress').classList.remove('visually-hidden')
      htmx.find('#progress').setAttribute('value', evt.detail.loaded/evt.detail.total * 100)
    });
</script>