<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doc</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.5"></script>


    </head>

<body style="font-family: 'Rubik', sans-serif;">

  <div class="container" id="admin">


    <h2>Make A Post</h2>
    <form action="/adminpost" method="POST" style="display: contents;" enctype="multipart/form-data">


      <div class="form-group mb-2 text-center">
        <!-- <div class="p-3" style="border: 2px gray dashed;" onclick="getimages()">
          <i class="fa-solid fa-images text-secondary" style="font-size: 3rem;"></i>
          <p>Select Images</p>

        </div> -->
        <input type="file" class="form-control" style="" id="image" name="image" multiple>
        <div class="m-1" id="image-preview"></div>
      </div>
      <div class="form-group mb-2">
        <label for="query">Message</label>
        <textarea class="form-control mb-1" id="textInput" name="textInput" rows="5"></textarea>

      </div>
      <button type="submit" class="btn btn-primary">Post</button>
    </form>

    <hr>

    <div class="row">
      <form action="/url" method="post">
        <h2>EnterUrl</h2>
        <div class="mb-3">
          <label for="name" class="form-label">Url</label>
          <input type="text" name="url" id="url" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Insert Url</button>
      </form>
    </div>


    <hr>
    <div class="row">
      <form hx-post="/createxpert" method="post" hx-target="#admin" hx-swap="outerHTML">
        <h2>Create Expert</h2>
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" name="name" id="name" class="form-control">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" name="password" id="password" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Create User</button>
      </form>
    </div>



    <div class="row">
      <form action="/deleteuser" method="post">
        <h2>Delete Expert</h2>
        <div class="mb-3">
          <label for="deletename" class="form-label">Select User</label>
          <select class="form-select" name="deletename" id="deletename">

            <option selected disabled>Select a user</option>
            <% experts.forEach(element => { %>
            <option value="<%= element.user %>"><%= element.user %></option>

            <% }) %>



          </select>

        </div>
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
    </div>

  </div>
  </div>

</body>

</html>
