<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>

<body style="font-family: 'Rubik', sans-serif;   background-image: url('/uploads/pattern3.png'); background-color: white; background-repeat: repeat;">


  <!-- <div class="container d-flex justify-content-center align-items-center " style="height:60vh;flex-direction: column;">
    <div class="row p-3 shadow border m-1 bg-white mb-2 position-relative" style="border-radius: 1.5rem;">
        <a href="/kissanlogin" class="stretched-link"></a>

      <div class="col-6 text-center justify-content-center d-flex" style="border-right: rgb(221, 221, 221) 1px solid; align-items: center;">

       
        <i class="fa-solid fa-user text-primary " style="font-size: 3.5rem;" ></i>
      </div>
      <div class="col-6 text-center">
        <h5 class="text-muted" >Login Kissan</h5>

      </div>

    </div>

    <div class="mt-3">
      <a class="btn btn-dark" href="/expertlogin">Expert Login</a>
    </div>

  </div>


  
    
  </div> -->



  <div class="container d-flex justify-content-center align-items-center " style="height:90vh;">
    <div class="row my-auto bg-white rounded-3 shadow">
      <div class="col  p-2 ">
        
        <form  method="POST" hx-post="/sendcode" hx-trigger="submit" hx-swap="outerHTML">
          <div class="d-flex justify-content-center mb-3" style="flex-direction: column;">
            <p class="m-0 mt-5">Enter Your </p> 
            <h4 class=" m-0 text-success" ><i class="fa-brands fa-whatsapp me-1"></i>Whatsapp Number</h4>
           <p class="text-muted" style="font-size: 0.7rem;" >Use Your Whatsapp Number To LoginInto Bundeli Kissan.</p>
            <input style=" font-size: 1.5rem;" type="tel" name="phonenumber" id="number" class="form-control" placeholder="Enter Your Number.." required>
          
          </div>
          <div class="d-flex justify-content-start mb-4">
            <button type="submit" class="btn btn-success btn-sm shadow"><i class="fa-solid fa-paper-plane"></i> Send Code</button>
          </div>

          <hr>
          <a class="btn btn-dark btn-sm" href="/expert">Login As Admin</a>

          <div class="mt-5 text-center">
            <p class="text-muted" >Build By Kamingo Consultancy 💖 </p>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- <div class="container">
    <button class="btn btn-primary" hx-get="/kissanlogin" hx-swap="outerHTML">Kissan Login</button>
</div> -->


</body>
</html>
