 
 <%- include('./partials/header.ejs') %>

 
 <div class="container " id="noti">

    <div class="col bg-white border p-1 mt-3">

        <button class="btn btn-outline-secondary my-1" onclick="history.back()">Back</button>

        
        <% chats.forEach((element, index) => { %>
         
            <% if (element.reply && element.status ==='unsolved') { %>
                <div class="border p-1 rounded " >
                    <p class="m-0">Your Question Has Been Answered </p>
                
            <a class="btn btn-success btn-sm"  hx-get="/viewnoti/<%= element.id %>" hx-swap="outerHTML" hx-target="#noti" >View Notification</a> 
            <% } %>

            <% }) %>
            </div>

    </div>
  </div>

