<form  action="/" method="POST"  hx-boost>
    <div class="d-flex justify-content-center mb-3" style="flex-direction: column;">
      <p class="text-muted m-0 " >Enter Code</p> 
      <input style=" font-size: 1.5rem;" type="number" name="code" id="code" maxlength="4" class="form-control" placeholder="CODE" required>
      <input type="tel" name="phonenumber" value="<%= number %>" style="display: none;">
    </div>
    <div class="d-flex justify-content-start">
      <button type="submit" class="btn btn-primary btn-sm shadow">Login</button>
    </div>
    <hr>
    <div class="mt-5 text-center">
      <p class="text-muted" >Build By Kamingo Consultancy 💖 </p>
    </div>

  </form>